.Empty {
  width: 80%;
  margin: 2% auto;
  text-align: center;
}
.Burger {
  width: 60%;
  margin: 10% auto;
}

@media screen and (min-width: 500px) {
  .Burger {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .Burger {
    width: 45%;
  }
}
