.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.InputElement:focus {
  outline: green;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid rgb(241, 80, 80);
  background-color: rgb(253, 152, 141);
}

.ValidationError {
  color: red;
  margin: 5px 0;
}
